In [ ]:
fe =["Jquery","Django","pandas","gtk"]
be =["Python","Java","c#","PHP"]
print(fe)
print(be)

['Jquery', 'Django', 'pandas', 'gtk']
['Python', 'Java', 'c#', 'PHP']

In [ ]:
fe =["Jquery","Django","pandas","gtk"]
be =["Python","Java","c#","PHP"]
be.append("C++")
del fe[1]
fe.insert(1,"nubleJS")
print(fe)
print(be)

['Jquery', 'nubleJS', 'pandas', 'gtk']
['Python', 'Java', 'c#', 'PHP', 'C++']

In [ ]:
fe =["Jquery","Django","pandas","gtk"]
be =["Python","Java","C#","PHP"]

fe.reverse()
print(fe)
be.sort()
print(be)
fe.clear()
print(fe)

['gtk', 'pandas', 'Django', 'Jquery']
['C#', 'Java', 'PHP', 'Python']
[]

In [ ]:
frutas = ("Manzana","Banano","Pera","Uva")
t1 = (1,2,3,"ola")
t2 = ("bola",[4,5,6],(7,8,9))

t2[1][0]="A"
t2[1][1]="B"
t2[1][2]="C"

t4 = t1+t2
print(t4)

(1, 2, 3, 'ola', 'bola', ['A', 'B', 'C'], (7, 8, 9))

In [ ]:
numeros = {1,2,3,4,5,6,7,8,9,10}
colores = {"azul","verde","rojo","naranja","violeta","purpura","amarillo",""}

mezclado = [105,"hablalo",True,40.5,[23,32,35]]

num ={1,1,1,2,3,4,5}
print(num)

{1, 2, 3, 4, 5}

In [ ]:
x=2
s = [x**2 for x in range(10)]
i = [x for x in s if x % 2 ==0]
print(s)
print(i)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]