In [1]:
num={1,1,2,3,4,5}
print(num)

{1, 2, 3, 4, 5}

In [3]:
primos=set([1,3,5,7,9,])
print(set)

<class 'set'>

In [16]:
numbers{(1,2),(3,4),[5,6]}
print(numbers)

SyntaxError: invalid syntax (4170368722.py, line 1)

In [11]:
#Diccionarios#

cars={"company":"twingo","country":"colombia","ranking":20}
print(cars)

print(cars["company"])

print(cars["country"])

{'company': 'twingo', 'country': 'colombia', 'ranking': 20}
twingo
colombia

In [12]:
cars["name"]="audi"
print(cars)

{'company': 'twingo', 'country': 'colombia', 'ranking': 20, 'name': 'audi'}

In [13]:
del cars["ranking"]
print(cars)

{'company': 'twingo', 'country': 'colombia', 'name': 'audi'}

In [15]:
cars.pop("country")
print(cars)

{'company': 'twingo', 'name': 'audi'}

In [18]:
minuscula={'a':97,'b':98,'c':90}
mayuscula={'A':65,'B':66,'C':67}
mezcla=minuscula.copy()
mezcla.update(mayuscula)
print(mezcla)

{'a': 97, 'b': 98, 'c': 90, 'A': 65, 'B': 66, 'C': 67}

In [34]:
numeros=[1,20,12,50,14,3,9,40,22,25,15,17,30]
pares=set()
for numero in numeros:
    if numero % 2==0:
        pares.add(numero)
print(pares)

{40, 12, 14, 50, 20, 22, 30}

In [31]:
s=[x**2 for x in range(10)]
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
s=[x for x in s if x % 3==0]
print(s)

[0, 9, 36, 81]

In [60]:
def to_str_fil(i):
    t = str(i).zfill(8)
    return t
s2=[to_str_fil(x) for x in s]

[print (x) for x in s]

0
9
36
81

[None, None, None, None]