In [2]:
fe = ["Laravel", "Django", "Flask"]
be = ["Python", "Java", "C#"]

print (fe)
print (be)

['LaravelDjangoFlask']
['Python', 'Java', 'C#']

In [24]:
print (fe [0:2])

['JQuery', 'LaravelDjangoFlask']

In [21]:
fe [1] = ("JQuery")
print (fe)

['LaravelDjangoFlask', 'JQuery']

In [17]:
del be [0]
print (be)

[]

In [18]:
be.append ("Python")
print (be)

['Python']

In [26]:
fe.insert (1, "naviter")
print (fe)

['LaravelDjangoFlask', 'naviter', 'JQuery']

In [30]:
fe.reverse ()
print (fe)

fe.sort ()
print (fe)

fe.clear ()
print (fe)

['naviter', 'LaravelDjangoFlask', 'JQuery']
['JQuery', 'LaravelDjangoFlask', 'naviter']
[]

In [56]:
frutas = ("manzana", "mango", "pi単a", "pera")
tupla_1 = 1, 2, 3, "local"
tupla_2 = ("numero", [4, 5, 6], (7, 8, 9))
tupla_3 = ("s", "i", "m", "o", "n")
print (frutas)
print (tupla_1)
print (tupla_2)
print (tupla_3)
print (frutas [3])
print (tupla_1 [0])
print (tupla_2 [1])
print (tupla_3 [4])

('manzana', 'mango', 'pi単a', 'pera')
(1, 2, 3, 'local')
('numero', [4, 5, 6], (7, 8, 9))
('s', 'i', 'm', 'o', 'n')
pera
1
[4, 5, 6]
n

In [57]:
print (tupla_2 [1][2])
print (tupla_2 [2][0])
print (tupla_3 [-5])
print (tupla_3 [-1])

6
7
s
n

In [58]:
print (tupla_3 [1:5])
print (tupla_3 [-5])
print (tupla_3 [-4:])
print (tupla_3 [:])

('i', 'm', 'o', 'n')
s
('i', 'm', 'o', 'n')
('s', 'i', 'm', 'o', 'n')

In [59]:
tupla_2 [1][0] = "A"
tupla_2 [1][1] = "B"
tupla_2 [1][2] = "C"
print (tupla_2)

('numero', ['A', 'B', 'C'], (7, 8, 9))

In [60]:
tupla_4 = tupla_2 + frutas
print (tupla_4)

('numero', ['A', 'B', 'C'], (7, 8, 9), 'manzana', 'mango', 'pi単a', 'pera')

In [61]:
del tupla_3 
print (tupla_3)

NameError: ignored

In [49]:
frutas = frutas + ("banano", "sandia")
print (frutas.count("pi単a"))
print (frutas.index("pera"))

1
3

In [62]:
numeros = {11, 12, 13, 14, 15}
colores = {"Amarillo", "Azul", "Rojo", "Verde", "Naranja"}
print (numeros)
print (colores)

{11, 12, 13, 14, 15}
{'Verde', 'Naranja', 'Azul', 'Amarillo', 'Rojo'}

In [65]:
mezclado = {20, "simon", True, 21.22, (23,24,25)}
print (mezclado)

{True, 20, 21.22, (23, 24, 25), 'simon'}

In [66]:
num = {1, 1, 2, 3, 4 ,5}
print (num)

{1, 2, 3, 4, 5}

In [67]:
num_primos = set ([2, 3, 5, 7, 11])
print (num_primos)

{2, 3, 5, 7, 11}

In [68]:
numeros = {(33, 34), (43, 44), [53, 54]}
print (numeros)

TypeError: ignored

In [79]:
carros = {"Compa単ia": "Kia", "Pais": "Korea", "Rank" : 1}
print (carros)
print (carros ["Compa単ia"])
print (carros ["Pais"])
carros ["Nombre"] = "Audi"
print (carros)
del carros ["Rank"]
print (carros)
carros.pop ("Pais")
print (carros)

{'Compa単ia': 'Kia', 'Pais': 'Korea', 'Rank': 1}
Kia
Korea
{'Compa単ia': 'Kia', 'Pais': 'Korea', 'Rank': 1, 'Nombre': 'Audi'}
{'Compa単ia': 'Kia', 'Pais': 'Korea', 'Nombre': 'Audi'}
{'Compa単ia': 'Kia', 'Nombre': 'Audi'}

In [82]:
minuscula = {'a':97, 'b':98, 'c':99}
mayuscula = {'A':65, 'B':66, 'C':67}
mezcla = minuscula.copy()
mezcla.update (mayuscula)
print (mezcla)

{'a': 97, 'b': 98, 'c': 99, 'A': 65, 'B': 66, 'C': 67}

In [ ]:
numeros_1 = [1, 2, 3, 4, 5, 6]
pares = set ()
for numeros_1 in numeros_1:
  if numeros_1 % 2 == 0:
    pares.add(numeros_1)

In [85]:
s = [x**2 for x in range (10)]
print (s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
j = [x for x in s if x % 3 == 0]
print (j)

[0, 9, 36, 81]