In [1]:
frutas=("Piña","Manzana","Banana","Pera")
tupla1=3,7,15,"impar"
tupla2=("PAZ",[3,7,21],(4,8,12))
tupla3=("S","A","N","T","O","S")

In [6]:
print(frutas[2])
print(tupla1[1])
print(tupla2[0])
print(tupla3[3])

Banana
7
PAZ
T

In [9]:
print(tupla2[1][1])

7

In [10]:
print(tupla3[-2])
print(tupla3[-4])
print(tupla3[2:3])
print(tupla3[:-5])
print(tupla3[:])
print(tupla3[-1:])

O
N
('N',)
('S',)
('S', 'A', 'N', 'T', 'O', 'S')
('S',)

In [17]:
tupla2[1][0]="V"
tupla2[1][2]="Y"
tupla2[1][1]="Z"

In [15]:
print(tupla2)

('PAZ', ['V', 'Z', 'Y'], (4, 8, 12))

In [18]:
tupla4=tupla2+frutas
print(tupla4)

('PAZ', ['V', 'Z', 'Y'], (4, 8, 12), 'Piña', 'Manzana', 'Banana', 'Pera')

In [20]:
del tupla3
print(tupla3)

NameError: name 'tupla3' is not defined

In [21]:
frutas=frutas+("Papaya","Uva")
print(frutas)

('Piña', 'Manzana', 'Banana', 'Pera', 'Papaya', 'Uva')

In [22]:
print(frutas.count("Papaya"))

1

In [23]:
print(frutas.index("Uva"))

5

In [25]:
numeros={1,3,5,7,9}
colores={"blanco","negro","amarillo","azul","rojo"}
print(numeros)
print(colores)

{1, 3, 5, 7, 9}
{'negro', 'rojo', 'azul', 'blanco', 'amarillo'}

In [28]:
Mezclado={2,"primos",True,2.4,(1,3,7)}
print(Mezclado)

{True, 2, 'primos', 2.4, (1, 3, 7)}

In [29]:
num={2,4,6,8,10}
print(num)

{2, 4, 6, 8, 10}

In [30]:
numPrimos=set([1,3,7,9,11,13,17,19])
print(numPrimos)

{1, 3, 7, 9, 11, 13, 17, 19}

In [31]:
numbers={(1,3),(7,9)}
print(numbers)

{(7, 9), (1, 3)}

In [36]:
carros={"Company":"Kia","Country":"Korea","Rank":1}
print(carros)
print(carros["Company"])
print(carros["Country"])

{'Company': 'Kia', 'Country': 'Korea', 'Rank': 1}
Kia
Korea

In [37]:
carros["Name"]="Audi"
print(carros)

{'Company': 'Kia', 'Country': 'Korea', 'Rank': 1, 'Name': 'Audi'}

In [38]:
del carros["Rank"]
print(carros)

{'Company': 'Kia', 'Country': 'Korea', 'Name': 'Audi'}