<a href="https://colab.research.google.com/github/ecadavidudem/apoo/blob/JohaoB/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
Fe = ["Django", "FastApi", "Tornado"]
Be = ["Ruby", "Python", "Java"]

print(Fe)
print(Be)

['Django', 'FastApi', 'Tornado']
['Ruby', 'Python', 'Java']

In [77]:
print(Fe[1])
print(Be[0])

FastApi
Ruby

In [78]:
print(Fe[0:2])

['Django', 'FastApi']

In [79]:
Fe[2] = "JQuery"
print (Fe)

['Django', 'FastApi', 'JQuery']

In [80]:
del Be [1]
print(Be)

['Ruby', 'Java']

In [81]:
Be.append ("C++")
print(Be)

['Ruby', 'Java', 'C++']

In [82]:
Fe.insert (1, "NubleJS")
print(Fe)

['Django', 'NubleJS', 'FastApi', 'JQuery']

In [83]:
Fe.reverse()
print(Fe)

['JQuery', 'FastApi', 'NubleJS', 'Django']

In [84]:
Fe.sort()
print(Fe)

['Django', 'FastApi', 'JQuery', 'NubleJS']

In [85]:
Be.clear()
print(Be)

[]

In [86]:
#Frutas

frutas = ("Piña", "Melocoton","Mandarina","Coco")
T1 = (4,5,6,"Bye")
T2 = ("Niño", [10, 2, 4], (9,8,7))
T3 = ('j','o','h','a','o','a','l','e','x','a','n')

print(frutas[3])
print(T1[0])
print(T2[1])
print(T3[4])

Coco
4
[10, 2, 4]
o

In [87]:
print(T2[1][1])
print(T2[2][0])

print(T3[-10])
print(T3[-1])

2
9
o
n

In [88]:
print(T3[1:6])
print(T3[:-7])
print(T3[-4:])
print(T3[:])

('o', 'h', 'a', 'o', 'a')
('j', 'o', 'h', 'a')
('e', 'x', 'a', 'n')
('j', 'o', 'h', 'a', 'o', 'a', 'l', 'e', 'x', 'a', 'n')

In [89]:
T2[1][0] = 'A'
T2[1][1] = 'B'
T2[1][2] = 'C'

In [90]:
T4 = T2
print(T4)

('Niño', ['A', 'B', 'C'], (9, 8, 7))

In [92]:
del T3
print(T3)

NameError: ignored

In [91]:
Fruta = frutas + ("Mango","Pera")
print(Fruta.count("Mango"))
print(Fruta.index("Pera"))

1
5

In [93]:
#Diccionario

numeros = {7,4,9,3,5}
colores = {"Azul","Amarillo","Rojo","Verde","Blanco"}

print(numeros)
print(colores)

{3, 4, 5, 7, 9}
{'Blanco', 'Amarillo', 'Rojo', 'Verde', 'Azul'}

In [95]:
Mezclado = {2,"Lampara",True, 2.1,(2,1,9)}
print(Mezclado)

{True, 2, 2.1, (2, 1, 9), 'Lampara'}

In [96]:
num = {1,1,2,3,4,5}
print(num)

{1, 2, 3, 4, 5}

In [99]:
primos = set([9,3,5,7,1])
print(set)

<class 'set'>

In [101]:
Numbers = {(2,3),(4,1),(6,8)}
print(Numbers)

{(4, 1), (2, 3), (6, 8)}

In [109]:
Carros = {"Company":"Lamborghini",
          "Country":"Italy",
          "Rank": 1 }

print(Carros)
print(Carros["Company"])
print(Carros["Country"])
Carros["name"] = "Aventador SVJ"

print(Carros)

{'Company': 'Lamborghini', 'Country': 'Italy', 'Rank': 1}
Lamborghini
Italy
{'Company': 'Lamborghini', 'Country': 'Italy', 'Rank': 1, 'name': 'Aventador SVJ'}

In [111]:
min = {'a':97, 'b':98, 'c':99}
may = {'A':65, 'B':66, 'C':67}

Mezcla1 = min.copy()
Mezcla1.update (may)
print(Mezcla1)

{'a': 97, 'b': 98, 'c': 99, 'A': 65, 'B': 66, 'C': 67}

In [113]:
Numeros1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]
pares = set()

for numero in Numeros1:
  if numero % 2==0:
    pares.add(numero)

print(pares)

{2, 4, 6, 8, 10, 12, 14, 16}

In [115]:
S = [x**2 for x in range(10)]
print(S)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [116]:
J = [x for x in S if x%3==0]
print(J)

[0, 9, 36, 81]

In [123]:
def to_str_fill(i):
  t = str(i).zfill(8)
  return t

S2 = [to_str_fill(x) for x in J]

[print (x) for x in S2]

00000000
00000009
00000036
00000081

[None, None, None, None]